<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="element-ui/css/index.css">
    <script type="text/javascript" src="element-ui/js/vue.js"></script>
    <script type="text/javascript" src="element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="element-ui/js/index.js"></script>
    <script type="text/javascript" src="element-ui/js/js.cookie.js"></script>
</head>
<body>
<div id="app" class="login-container">
    <el-form :model="loginForm" :rules="loginRules" ref="loginForm" label-position="left"
             label-width="0px" class="demo-ruleForm login-page">
        <h3 align="center">系统登录</h3>
        <el-form-item prop="username">
            <el-input type="text" v-model="loginForm.username" auto-complete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item prop="password">
            <el-input type="password" v-model="loginForm.password" auto-complete="off" placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item style="width:100%;">
            <el-button type="primary" style="width:100%;" @click="submitForm('loginForm')" :loading="login">登录</el-button>
        </el-form-item>
        <el-form-item align="center">
            <a class="register" @click="register" style="cursor:pointer">注册新用户</a>
        </el-form-item>
    </el-form>
</div>
<link rel="stylesheet" type="text/css" href="css/user/login.css">
<script type="text/javascript" tyep="module" src="js/user/login.js"></script>
</body>
</html>