<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <link rel="stylesheet" type="text/css" href="../../element-ui/css/index.css">
    <script type="text/javascript" src="../../element-ui/js/vue.js"></script>
    <script type="text/javascript" src="../../element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="../../element-ui/js/index.js"></script>
    <script type="text/javascript" src="../../js/common/authentication.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: auto; border: 1px solid #eee;">
        <el-main>
            <el-form>
                <el-row ref="form" :model="form">
                    <el-col :span="5">
                        <el-form-item label="项目名称:" label-width="100px">
                            <el-input v-model="form.projectName" placeholder="请输入项目名称"/>
                        </el-form-item>
                    </el-col>
                    <el-col :span="5">
                        <el-form-item label="项目编码:" label-width="100px">
                            <el-input v-model="form.projectCode" placeholder="请输入编码"/>
                        </el-form-item>
                    </el-col>

                    <!-- 查询按钮 -->
                    <el-col :span="4">
                        <el-form-item>
                            <el-button type="primary" size="small" @click="onQuerySubmit" icon="el-icon-search"
                                       style="margin-left: 20px">查&nbsp;询
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>


            <el-table v-loading="listLoading"
                      :data="tableData"
                      element-loading-text="加载中..."
                      border
                      stripe
                      fit
                      style="width: auto;">

                <el-table-column prop="id" label="ID" align="center"></el-table-column>
                <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                <el-table-column prop="code" label="项目编码" align="center"></el-table-column>
                <el-table-column label="操作" align="center" width="100">
                    <template slot-scope="scope">
                        <el-button size="mini" type="warning"
                                   @click="handleAdd(scope.$index, scope.row)">添&nbsp;加
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-row style="margin-top:20px;">
                <el-pagination :current-page.sync="currentPage"
                               :page-size="10"
                               :page-sizes="[10, 20, 30, 40]"
                               :total="total"
                               background
                               layout="total, sizes, prev, pager, next, jumper"
                               @size-change="handleSizeChange"
                               @current-change="handleCurrentChange"/>
            </el-row>
        </el-main>
    </el-container>
</div>
<script type="text/javascript" src="../../js/usergroup/projectRelCreate.js"></script>
</body>
</html>