<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../element-ui/css/index.css">
    <script type="text/javascript" src="../../element-ui/js/vue.js"></script>
    <script type="text/javascript" src="../../element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="../../element-ui/js/index.js"></script>
    <script type="text/javascript" src="../../js/common/authentication.js"></script>
    <script type="text/javascript" src="../../element-ui/js/js.cookie.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: auto; border: 1px solid #eee;">
        <el-main>
            <el-form>
                <el-row ref="form" :model="form">
                    <el-col :span="5">
                        <el-form-item label="用户名称:" label-width="100px">
                            <el-input v-model="form.userName" placeholder="请输入用户名称"/>
                        </el-form-item>
                    </el-col>

                    <!-- 查询按钮 -->
                    <el-col :span="4">
                        <el-form-item>
                            <el-button type="primary" size="small" @click="onQuerySubmit" icon="el-icon-search"
                                       style="margin-left: 20px">查&nbsp;询
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>


            <el-table v-loading="listLoading"
                      :data="tableData"
                      element-loading-text="加载中..."
                      border
                      stripe
                      fit
                      style="width: auto;">

                <el-table-column prop="id" label="ID" align="center" width="80px"></el-table-column>
                <el-table-column prop="userName" label="用户名称" align="center"></el-table-column>
                <el-table-column prop="adminFlag" label="是否管理员" align="center" :formatter="formatterAdminFlag"></el-table-column>
                <el-table-column prop="creator" label="创建人" align="center"></el-table-column>
                <el-table-column prop="createTime" label="创建时间" align="center"
                                 :formatter="formatterDate"></el-table-column>
                <el-table-column prop="modifier" label="修改人" align="center"></el-table-column>
                <el-table-column prop="modifyTime" label="修改时间" align="center"
                                 :formatter="formatterDate"></el-table-column>
                <el-table-column label="操作" align="center" width="200">
                    <template slot-scope="scope">
                        <el-button v-if="authData.delete && permission" size="mini" type="warning"
                                   @click="handleDelete(scope.$index, scope.row)">删&nbsp;除
                        </el-button>
                        <el-button v-if="authData.admin && scope.row.adminFlag==1 && permission" size="mini" type="info"
                                   @click="handleAdmin(scope.$index, scope.row)">设为管理员
                        </el-button>
                        <el-button v-if="authData.cancel && scope.row.adminFlag==2 && permission" size="mini" type="info"
                                   @click="handleCancel(scope.$index, scope.row)">取消管理员
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-row style="margin-top:20px;">
                <el-pagination :current-page.sync="currentPage"
                               :page-size="10"
                               :page-sizes="[10, 20, 30, 40]"
                               :total="total"
                               background
                               layout="total, sizes, prev, pager, next, jumper"
                               @size-change="handleSizeChange"
                               @current-change="handleCurrentChange"/>
            </el-row>
        </el-main>
    </el-container>
</div>
<script type="text/javascript" src="../../js/usergroup/userGroupRelManager.js"></script>
</body>
</html>