<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" type="text/css" href="../../element-ui/css/index.css">
    <script type="text/javascript" src="../../element-ui/js/vue.js"></script>
    <script type="text/javascript" src="../../element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="../../element-ui/js/index.js"></script>
    <script type="text/javascript" src="../../js/common/authentication.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: auto; border: 1px solid #eee;">
        <el-main>
            <div style="margin-bottom: 20px">
                <el-button v-if="authData.create" type="primary" size="small" @click="showCreateDialog" :disabled="createDisabled"
                           style="margin-left: 10px">新建
                </el-button>
                <el-button v-if="authData.modify" type="primary" size="small" @click="showModifyDialog" :disabled="modifyDisabled"
                           style="margin-left: 10px">编辑
                </el-button>
                <el-button v-if="authData.delete" type="primary" size="small" @click="deleteMenu" :disabled="modifyDisabled"
                           style="margin-left: 10px">删除
                </el-button>
            </div>
            <el-tree :data="data" :props="defaultProps" highlight-current show-checkbox check-strictly
                     node-key="code" ref="tree" @check-change="handleClick"></el-tree>
            <el-dialog title="新建菜单"
                       before-close="beforeCreateCloseDialog"
                       close-on-click-modal="false"
                       :visible.sync="createDialog" width="500px">
                <span>
                    <iframe :src="createUrl" width="100%" height="350px" style="border:0px"></iframe>
                </span>
            </el-dialog>
            <el-dialog title="编辑菜单"
                       before-close="beforeModifyCloseDialog"
                       close-on-click-modal="false"
                       :visible.sync="modifyDialog" width="500px">
                <span>
                    <iframe :src="modifyUrl" width="100%" height="350px" style="border:0px"></iframe>
                </span>
            </el-dialog>
        </el-main>
    </el-container>
</div>
<script type="text/javascript" src="../../js/menu/menuManager.js"></script>
</body>
</html>