<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.admin.server.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.github.admin.server.model.vo.MenuTree">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getAllValidMenu" resultMap="BaseResultMap">
       SELECT m.id,m.`name`,m.code,m.icon,m.parent_id,m.`type`,
       case when m.url =''  then ''
            when m.url is null then ''
            else  CONCAT(s.url,m.url)
       end as url
       FROM sys_menu m
       INNER JOIN sys_system s ON m.system_id = s.id
       WHERE m.is_valid = 1 and m.`type` = 1
       ORDER BY m.sort_id
   </select>

    <select id="getBaseMenu" resultMap="BaseResultMap">
       SELECT m.id,m.`name`,m.code,m.icon,m.parent_id,m.`type`,
       case when m.url =''  then ''
            when m.url is null then ''
            else  CONCAT(s.url,m.url)
       end as url
       FROM sys_menu m
       INNER JOIN sys_system s ON m.system_id = s.id
       WHERE m.is_valid = 1 and m.`type` = 1 and m.parent_id = 0
       ORDER BY m.sort_id
   </select>

    <select id="getMenuTreeById" resultMap="BaseResultMap" parameterType="java.lang.Long">
       SELECT m.id,m.`name`,m.code,m.icon,m.parent_id,m.`type`,
       case when m.url =''  then ''
            when m.url is null then ''
            else  CONCAT(s.url,m.url)
       end as url
       FROM sys_menu m
       INNER JOIN sys_system s ON m.system_id = s.id
       WHERE m.id = #{menuId}
   </select>

    <select id="getMenuTreeByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
       SELECT m.id,m.`name`,m.code,m.icon,m.parent_id,m.`type`,
       case when m.url =''  then ''
            when m.url is null then ''
            else  CONCAT(s.url,m.url)
       end as url
       FROM sys_menu m
       INNER JOIN sys_system s ON m.system_id = s.id
       WHERE m.code = #{code}
   </select>

    <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
       SELECT m.id,m.`name`,m.code,m.icon,m.parent_id,m.`type`,
       case when m.url =''  then ''
            when m.url is null then ''
            else  CONCAT(s.url,m.url)
       end as url
       FROM sys_menu m
       INNER JOIN sys_system s ON m.system_id = s.id
       <where>
           <if test="state != null">
              m.is_valid = #{state}
           </if>
       </where>
       ORDER BY m.sort_id
   </select>

</mapper>