<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.admin.server.dao.ProjectRelMapper">
    <resultMap id="BaseResultMap" type="com.github.admin.server.model.vo.ProjectRelVO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="group_id" property="groupId" jdbcType="BIGINT"/>
        <result column="code" property="projectCode" jdbcType="VARCHAR"/>
        <result column="name" property="projectName" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByPage" resultMap="BaseResultMap">
        select r.id,r.group_id,p.code,p.name,r.creator,r.modifier,r.create_time,r.modify_time
        from sys_usergroup_project_rel r
        inner join sys_project p on r.project_id = p.id
        where r.group_id = #{arg2}
        <if test="arg0!= null and arg0!= ''">
            and p.name like concat('%',#{arg0},'%')
        </if>
        <if test="arg1!= null and arg1!= ''">
            and p.code like concat('%',#{arg1},'%')
        </if>
    </select>

</mapper>