<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建用户</title>
    <link rel="stylesheet" type="text/css" href="../../element-ui/css/index.css">
    <script type="text/javascript" src="../../element-ui/js/vue.js"></script>
    <script type="text/javascript" src="../../element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="../../element-ui/js/index.js"></script>
</head>
<body>
    <div id="app">
        <el-form :model="resetPasswordForm" :rules="resetPasswordRules" ref="resetPasswordForm" label-width="120px" style="width: 340px">
            <el-form-item label="用户名：" prop="username" disabled>
                <el-input v-model="resetPasswordForm.username" placeholder="请输入用户名" ></el-input>
            </el-form-item>
            <el-form-item label="密码：" prop="password">
                <el-input type="password" v-model="resetPasswordForm.password" placeholder="请输入密码" ></el-input>
            </el-form-item>
            <el-form-item label="确认密码：" prop="confirmPassword">
                <el-input type="password" v-model="resetPasswordForm.confirmPassword" placeholder="请重新输入密码"></el-input>
            </el-form-item>
            <el-form-item style="text-align: center">
                <el-button type="primary" size="small" @click="submitForm('resetPasswordForm')">保存</el-button>
                <el-button type="primary" size="small" @click="cancel">取消</el-button>
            </el-form-item>
        </el-form>
    </div>
<script type="text/javascript" src="../../js/user/resetPassword.js"></script>
</body>
</html>