<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <link rel="stylesheet" type="text/css" href="../../element-ui/css/index.css">
    <script type="text/javascript" src="../../element-ui/js/vue.js"></script>
    <script type="text/javascript" src="../../element-ui/js/vue-resource.min.js"></script>
    <script type="text/javascript" src="../../element-ui/js/index.js"></script>
    <script type="text/javascript" src="../../element-ui/js/js.cookie.js"></script>
    <script type="text/javascript" src="../../js/common/authentication.js"></script>
</head>
<body>
    <div id="app">
        <el-form :model="infoForm" :rules="infoRules" ref="infoForm" label-width="120px" style="width: 340px">
            <el-form-item label="用户名：" prop="username">
                <el-input v-model="infoForm.username" disabled></el-input>
            </el-form-item>
            <el-form-item label="用户组：" prop="group">
                <el-input v-model="infoForm.group" disabled></el-input>
            </el-form-item>
            <el-form-item label="邮箱：" prop="email">
                <el-input v-model="infoForm.email" placeholder="请输入邮箱" ></el-input>
            </el-form-item>
            <el-form-item label="手机号：" prop="mobile">
                <el-input v-model="infoForm.mobile" placeholder="请输入手机号"></el-input>
            </el-form-item>
            <el-form-item style="text-align: center">
                <el-button type="primary" size="small" @click="submitForm('infoForm')">保存</el-button>
                <el-button type="primary" size="small" @click="cancel">取消</el-button>
            </el-form-item>
        </el-form>
    </div>
<script type="text/javascript" src="../../js/user/userInfo.js"></script>
</body>
</html>